<footer>
    <nav>
        <ul>
            <li>
                <a href="https://discord.gg/dHBcWBFCBF" aria-label="Discord" target="_blank"><i class="fa-brands fa-discord"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61554655795195" aria-label="Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://tyleranddavids.store" aria-label="Our Store" target="_blank"><i class="fa-solid fa-store"></i></a>
            </li>
        </ul>
    </nav>
    <p>
        Crafted with ❤️ by <a href="https://tylertwining.com" target="_blank">Tyler</a>
    </p>
</footer>
