<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/calculator.css">

    <script src="/assets/js/candleCalculator.js"></script>

    <title>Not Found - crafty.tools</title>
    <meta name="description" content="Easily calculate wax and fragrance weights for multiple containers, waxes, and fragrances! Save your calculations and batches for easy management of your supplies.">
</head>
<body>
    <%- include("../../../partials/header", {page:"calculator/candle"}) %>
    <main>
        <div class="wrapper xs-wrapper">
            <section>
                <h2><i class="fa-regular fa-do-not-enter"></i> Entry Not Found</h2>
                We couldn't find the requested entry! ☹️
                <br>
                Try <a href="/calculator/candle">creating a new one</a>.
            </section>
        </div>
    </main>
    <%- include("../../../partials/footer") %>
</body>
</html>
