<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../../partials/head") %>

    <title>Calculator Result - crafty.tools</title>
</head>
<body>
    <%- include("../../../partials/header", {page:"batch/candle", user}) %>
    <main>
        <div class="wrapper container container-md">

        </div>
    </main>
    <%- include("../../../partials/footer") %>
</body>
</html>
