.results {
    display: flex;
    justify-content: center;
}

.results > div {
    flex-basis: 100%;
    max-width: 14em;
    background-color: var(--tertiary-background-color);
    margin: .4em;
    padding: .4em;
    border-radius: .4em;
}

.results h2,
.results h3 {
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 .4em;
    padding: .4em 0;
    border-bottom: 1px solid var(--primary-background-color);
    text-align: center;
}

.results .num {
    margin: .4em .4em .2em .4em;
    font-size: 2em;
    text-align: center;
}

.results .unit {
    font-family: "Lato", serif;
    font-size: .85em;
    margin-bottom: .2em;
    text-align: center;
    text-transform: uppercase;
}

.wax,
.fragrance {
    display: flex;
}

.wax .name,
.fragrance .name {
    flex-grow: 1;
}
