:root {
    --primary-background-color: #dce3e7;
    --secondary-background-color: #eaeff2;
    --tertiary-background-color: #fbfeff;

    --primary-text-color: #151616;
    --secondary-text-color: #101111;
    --tertiary-text-color: #2c2e2e;
    
    --primary-theme-color: #2b7aa8;
    --secondary-theme-color: #1f6791;

    --shadow: 2px 2px 8px rgba(0,0,0,0.2);
    --heavy-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: "Libre Baskerville", serif;
    margin: 0;
}

a {
    position: relative;
    color: var(--tertiary-text-color);
}

a[aria-label] {
    position: relative;
}

a[aria-label]::before {
    content: attr(aria-label);
    position: absolute;
    top: -.8em;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    padding: .2em .4em;
    border-radius: .2em;
    background-color: var(--primary-text-color);
    color: var(--tertiary-background-color);
    font-size: 1rem;
    text-wrap: nowrap;
    box-shadow: var(--shadow);
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}

a[aria-label]:hover::before {
    top: -1.4em;
    opacity: 1;
    transform: translateX(-50%);
    visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

nav ul li a {
    padding: .4em .6em;
    color: var(--tertiary-background-color);
    text-decoration: none;
}

header {
    color: white;
    background-color: var(--primary-theme-color);
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--tertiary-background-color);
    font-size: 2.3em;
    padding: 0.8rem;
    margin: 0;
}

header a {
    text-decoration: none;
    position: relative;
}

header nav a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .25s width;
}

header nav a.active::after {
    width: 80%;
}

header nav a:hover::after {
    width: 100%;
}

nav.actions ul,
nav.activity ul {
    display: block;
    border-radius: .2em;
    overflow: hidden;
    box-shadow: var(--shadow);
}

nav.activity ul {
    border: .05em solid rgba(0,0,0,0.1);
}

nav.actions ul li a,
nav.activity ul li a {
    display: block;
    text-decoration: none;
    font-size: .9rem;
    padding: .6em .8em;
    background-color: var(--primary-theme-color);
    border-bottom: .1em solid var(--secondary-theme-color);
    color: var(--tertiary-background-color);
    transition: .25s background-color;
}

nav.actions ul li a:hover {
    background-color: var(--secondary-theme-color);
}

nav.activity ul li a {
    background-color: var(--secondary-background-color);
    border-bottom: .05em solid rgba(0,0,0,0.1);
    color: var(--primary-text-color);
}

nav.activity ul li a:hover {
    background-color: var(--primary-background-color);
}

nav.activity ul li a h3 {
    font-size: 1em;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    margin: 0 0 .4em 0;
}

nav.actions ul li:last-child a,
nav.activity ul li:last-child a {
    border-bottom: none;
}

nav .none {
    text-align: center;
    font-size: .9em;
    padding: .4em;
}

nav.actions i {
    margin-right: .2em;
}

code {
    display: inline-block;
    background-color: var(--primary-background-color);
    border: 1px solid rgba(0,0,0,0.15);
    padding: .2em .4em;
    margin: 0 .4em;
    vertical-align: middle;
    border-radius: .1em;
}

footer nav {
    font-size: 1.4em;
}

footer nav a {
    color: var(--tertiary-text-color)!important;
}

.wrapper {
    width: calc(100% - 3em);
    margin: 0 auto;
    max-width: 80em;
}

.xs-wrapper {
    max-width: 32em;
}

.s-wrapper {
    max-width: 50em;
}

section {
    background-color: var(--secondary-background-color);
    margin: .8em;
    padding: .8em;
    border-radius: .3em;
    overflow: hidden;
    box-shadow: var(--shadow);
}

section > h2,
section > h3 {
    background-color: var(--primary-background-color);
    font-size: 1.1em;
    margin: -.8em -.8em .8em -.8em;
    padding: .8em;
}

section > h2 i,
section > h3 i {
    color: var(--tertiary-text-color);
    margin-right: .2em;
}

footer {
    padding: .8em;
    text-align: center;
    color: var(--tertiary-text-color);
    font-size: .9em;
}

.status-popup.hide {
    visibility: hidden;
    transform: translateX(-50%) scale(.8);
    opacity: 0;
}

.status-popup {
    display: block;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);

    visibility: visible;
    opacity: 1;

    transition: .25s;
    cursor: pointer;
}
